In [1]:
import pandas as pd

# load the raw dataset
df = pd.read_csv("Enron_mail_bodytext_preprocessed.csv")
df.head()

                                           mail_text
0         please let know you still need curve shift
1  david coursey hope ahead what learned from tra...
2  dear phillip this email automated notification...
3  image image image image image image image dear...
4  request request create date requested for reso...

In [2]:
import pandas as pd
from nltk.tokenize import RegexpTokenizer
from nltk.stem.wordnet import WordNetLemmatizer
from gensim import corpora, models
import pandas as pd
import gensim
import re
import pyLDAvis
import pyLDAvis.gensim_models


from stop_words import get_stop_words
from nltk.corpus import stopwords
STOPWORDS = set(stopwords.words('english'))
stop_words = list(get_stop_words('en'))

print((set(list(STOPWORDS)) | set(list(stop_words))))
stopwords = list(set(list(STOPWORDS)) | set(list(stop_words)))
print(type(list(STOPWORDS)))
print(type((stop_words)))
print(len(stopwords))

# removing special characters from stopwords
stopwords = [re.sub('[^a-z]+', '', word) for word in stopwords]

# text with no stopwords
df['no_stopwords_mail_text'] = df['mail_text'].apply(lambda x: ' '.join([word for word in x.split() if word not in (stopwords)]))

{'a', "how's", 'through', 'don', 'y', 'm', 'will', 'i', 'how', 'in', "it's", "shouldn't", 'themselves', 'those', 'during', 'all', 'was', 'mustn', 'which', "haven't", "he'd", 'them', "doesn't", 'needn', 'from', 'ain', 'where', 'be', "we'll", 'these', 'yourselves', 'this', 'had', 'than', 'too', 'an', "hasn't", 'weren', 'o', "you're", 'some', 'at', 'our', "she's", 'once', 'by', 'yourself', 'again', 'wasn', 'ma', "we've", 'very', "who's", "didn't", 'wouldn', 'with', 'me', 'now', 'we', "needn't", 'can', "we're", 'hers', 'the', 'here', 'been', 'it', 'if', 'no', 'until', 'while', 'her', "here's", 'to', 'whom', 'below', 'his', 'haven', 're', 'he', 'itself', 'as', "shan't", 'more', 'll', 'does', 'him', "mightn't", 'have', 'didn', "she'd", 'any', 'having', 'on', 'do', 'am', 'ought', 'won', 'has', 'such', "i'll", 'hasn', 'were', "you'll", 'its', 'who', 'there', 'each', 'into', "they're", "what's", "they'll", "weren't", 'they', 'before', 't', 'so', 'myself', 'would', 's', "wasn't", 'why', 'of', 'when', "where's", 'and', 'shan', "let's", 'nor', 'should', "should've", "wouldn't", "aren't", "he's", 'not', 'mightn', 'other', 'is', "that'll", 'shouldn', 'then', "couldn't", 'between', 'my', "i've", 'about', "that's", "we'd", "mustn't", 'are', 've', 'because', 'for', 'hadn', "i'm", 'aren', 'doing', "why's", "won't", 'she', "isn't", 'both', 'isn', "don't", "i'd", 'ours', "they'd", 'off', 'own', 'd', 'under', 'up', 'being', 'out', 'only', 'doesn', 'couldn', 'you', 'himself', "she'll", 'but', 'ourselves', 'few', "you'd", 'most', 'their', 'or', 'after', 'against', "there's", 'that', "hadn't", 'over', 'theirs', 'above', 'cannot', 'yours', 'could', 'further', "you've", 'down', 'did', 'herself', 'what', "they've", 'just', "can't", "he'll", 'same', "when's", 'your'}
<class 'list'>
<class 'list'>
211

In [3]:
from collections import Counter

# finding the frequency of words
p = Counter(" ".join(df['no_stopwords_mail_text']).split()).most_common(110110)
word_freq_df = pd.DataFrame(p, columns=['Word', 'Frequency'])
print(word_freq_df)

                    Word  Frequency
0                  enron      36646
1                 please      20267
2                    new      19488
3                  image      13911
4                  email      13507
...                  ...        ...
110104      encoreepcors          1
110105  acknowledgements          1
110106         greenizan          1
110107           jzuffer          1
110108           accumap          1

[110109 rows x 2 columns]

In [4]:
word_freq_df.head(20)

           Word  Frequency
0         enron      36646
1        please      20267
2           new      19488
3         image      13911
4         email      13507
5        energy      13329
6          time      13328
7          said      12579
8         power      11999
9           gas      11904
10          may      11875
11  information      11465
12       market       9751
13          one       9642
14     business       9567
15         also       9109
16          day       8736
17         know       8565
18         week       7605
19          get       7456

In [5]:
# less frequent words
len(word_freq_df[word_freq_df['Frequency'] < 10]['Word'].values)

89905

In [6]:
# most frequent words
len(word_freq_df[word_freq_df['Frequency'] > 1000]['Word'].values)

746

In [4]:
frequent_words = word_freq_df[word_freq_df['Frequency'] > 1000]['Word'].values
rare_words = word_freq_df[word_freq_df['Frequency'] < 10]['Word'].values

# removing the more frequent words and less frequent words
df['no_frequent_words_mail_text'] = df['no_stopwords_mail_text'].apply(lambda x: ' '.join([word for word in x.split() if word not in (frequent_words)]))
df['no_rare_words_mail_text'] = df['no_frequent_words_mail_text'].apply(lambda x: ' '.join([word for word in x.split() if word not in (rare_words)]))

In [9]:
# storing the preprocessed mail text in csv
df['no_rare_words_mail_text'].to_csv("no_rare_words_mail_text.csv", index = False)